//Imported google fonts, section.
@import url('https://fonts.googleapis.com/css?family=Roboto');

//Grouped vars
$primary-color:#779AA5;
$secondary-color:#2A3258;
$third-color: #F4B61D;
$fourth-color: #F7382F;

$text-white:#ffffff;

//style
header {
    font-family: 'Roboto', sans-serif;
    width:100%;
    height:30px;
}
#logoutButton,
#loginButton {
    color:#fff;
    border: 0px;
    position: fixed;
    right:30px;
    top:30px;
    font-size: 20px;
    background-color:$secondary-color;
    padding:1%;
    border-radius: 3%;
    cursor: pointer;
    span:hover{
        color:$third-color;
    }
}
#loginBar {
    padding:1%;
    width:173px;
    background:$secondary-color;
    display:none;
    position: fixed;
    right:5px;
    top:30px;
    input {
        float:right;
        width:inherit;
        border:0px;
        text-align: center;
        border-radius: 2px;
        margin:1px;
    }
    button {
        float:right;
        border:0px;
        color:$text-white;
        background-color: $fourth-color;
        margin-top:1px;
        width:30px;
        border-radius: 2px;
    }
}
body {
    background:$primary-color;
    color:$text-white;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    overflow: hidden;
    .adminCardUserRows{
        height:100vh;
        overflow:auto;
        display:flex;
        flex-direction: column;
        margin:-20px 10%;
        ul {
            list-style-type: none;
            li {
                padding:5px;
                border: 1px solid $secondary-color;
            }
        }
        ul:nth-child(even) {
            margin-top:-2%;
        

        } li:nth-child(odd) {
            background-color: #2A3258;
        }
    }
    
    .popup {
        margin: 1px auto 5000px auto;
        text-align: center;
        border-radius: 4px;
        min-width:350px;
        max-width:350px;
        padding: 3% 5% 3%;
        left:300px;
        height:50vh;
        background:$secondary-color;
        img {
            height:30%;
            margin: 0px auto;
        }
        button {
            margin: 0px auto;
            font-size: 15px;
            font-weight: 500;
            align-items: center;
            background-color:$fourth-color;
            border:0px;
            border-radius: 2px;
            min-width:350px;
            max-width:350px;
            height:35px;
            color:$text-white;
            
        }
    }
    h1{
        text-align: center;
        font-size: 100%;
    }
    #userChange{
        border-top: 1px dashed $primary-color;
        padding: 1% 4% 2%;
        min-width:400px;
        max-width:400px;
        background:$secondary-color;
        margin: 0px auto;
        input {
            text-align: center;
            margin: 10px 5px;
            min-width:380px;
            max-width:380px;
            height:35px;
            border-radius: 4px;
            border:0px;
        }
        button {
            margin: 0px 5px;
            font-size: 15px;
            font-weight: 500;
            align-items: center;
            background-color:$fourth-color;
            border:0px;
            border-radius: 2px;
            min-width:380px;
            max-width:380px;
            height:35px;
            color:$text-white;
            
        }
    }
    #userForm {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding:2% 4% 1%;
        border-radius: 1px;
        min-width:400px;
        max-width:400px;
        background:$secondary-color;
        margin: 10px auto 0 auto;
        input {
            text-align: center;
            margin:1%;
            min-width:380px;
            max-width:380px;
            height:35px;
            border-radius: 4px;
            border:0px;
            
        }
        textarea {
            font-family: 'Roboto', sans-serif;
            border:0px;
            margin:1%;
            border-radius: 4px;
            min-width:377px;
            max-width:377px;
            resize: none;
        } 

        button {
            font-size: 15px;
            font-weight: 500;
            align-items: center;
            margin:auto 1%;
            background-color:$fourth-color;
            border:0px;
            border-radius: 2px;
            min-width:380px;
            max-width:380px;
            height:35px;
            color:$text-white;
            
        }
    }
}